.pagination {
    &_container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem auto;
    }

    &_button {
        height: 2rem;
        width: 2rem;
        border-radius: 100px;
    }
}