@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');

$breakpoint-xs: 576px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;


:root {
  --primary-color: #22489f;
  --secondary-color: #009cfb;
  --body-font-family: 'Inter', sans-serif;
  --body-font-size: 1rem;
  --body-font-weight: 400;
  --body-line-height: 1.5;
  --body-color: #212529;
  --body-bg: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);
  color: var(--body-color);
  background-color: var(--body-bg);
}

.container {
  width: 100%;
  padding: 1rem;
  margin-right: auto;
  margin-left: auto;
  max-width: $breakpoint-lg;
}