$input-width: 16rem;

.search {
    &_container {
        display: flex;
        justify-content: center;
        margin: 1rem auto;
        position: relative;
    }

    &_icon {
        display: grid;
        place-content: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-right: calc($input-width - 3rem);
    }

    &_input {
        border-radius: 100px;
        height: 3rem;
        width: $input-width;
        padding-left: 3rem;
        border: 1px solid #ccc;
        outline: none;
        &:focus {
            border-color: #aaa;
        }
    }
}